<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_IMG_HP.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,296},{383,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,84}}</string>
                <key>sourceSize</key>
                <string>{383,84}</string>
            </dict>
            <key>BOSS_HEAD_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,231},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>BOSS_HEAD_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,521},{63,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>BTN_FISH_RATE_CLICK.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,382},{52,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,222}}</string>
                <key>sourceSize</key>
                <string>{52,222}</string>
            </dict>
            <key>BTN_OUT_CLICK.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,193},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>BTN_OUT_CLICK_DISABLE.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,249},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>CancelLock_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,613},{40,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{40,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>CancelLock_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,296},{40,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{40,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>CancelLock_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,369},{40,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{40,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>ExitMsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1},{552,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{552,123}}</string>
                <key>sourceSize</key>
                <string>{558,127}</string>
            </dict>
            <key>GUN_ICON.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,655},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>IMG_BG_NOTIFY_BAR.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,195},{556,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,34}}</string>
                <key>sourceSize</key>
                <string>{556,34}</string>
            </dict>
            <key>IMG_BG_NOTIFY_BAR_LOBBY.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,126},{537,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,67}}</string>
                <key>sourceSize</key>
                <string>{537,67}</string>
            </dict>
            <key>IMG_BORDER_OPTIONGAME.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,382},{99,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,246}}</string>
                <key>sourceSize</key>
                <string>{99,246}</string>
            </dict>
            <key>IMG_BTN_CLOSEGAME.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,444},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{75,75}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>IMG_BTN_OPTIN_INGAME.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,584},{34,70}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>IMG_BTN_OPTIN_INGAME_EXTEND.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,682},{34,70}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>IMG_COIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,267},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>IMG_HP_BAR.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,382},{256,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,18}}</string>
                <key>sourceSize</key>
                <string>{256,18}</string>
            </dict>
            <key>IMG_HP_CURRENT_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,382},{256,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,18}}</string>
                <key>sourceSize</key>
                <string>{256,18}</string>
            </dict>
            <key>IMG_HP_CURRENT_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,296},{256,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,18}}</string>
                <key>sourceSize</key>
                <string>{256,18}</string>
            </dict>
            <key>IMG_HP_CURRENT_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,296},{256,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,18}}</string>
                <key>sourceSize</key>
                <string>{256,18}</string>
            </dict>
            <key>IMG_HP_CURRENT_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,296},{256,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,18}}</string>
                <key>sourceSize</key>
                <string>{256,18}</string>
            </dict>
            <key>IMG_LEVEL_TEXT.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,515},{37,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,23}}</string>
                <key>sourceSize</key>
                <string>{37,23}</string>
            </dict>
            <key>IMG_LOADING.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,382},{205,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,202}}</string>
                <key>sourceSize</key>
                <string>{205,202}</string>
            </dict>
            <key>IMG_TEXT_LOCK_FISH.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,231},{478,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,63}}</string>
                <key>sourceSize</key>
                <string>{478,63}</string>
            </dict>
            <key>LockFish_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,442},{40,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{40,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>LockFish_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,592},{40,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{40,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>LockFish_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,586},{40,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{40,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>Maximize.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,554},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>btn_cancel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,593},{146,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{150,52}</string>
            </dict>
            <key>btn_cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,647},{146,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{150,52}</string>
            </dict>
            <key>btn_cancel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1},{146,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{150,52}</string>
            </dict>
            <key>btn_ok_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,296},{146,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{150,52}</string>
            </dict>
            <key>btn_ok_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,296},{146,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{150,52}</string>
            </dict>
            <key>btn_ok_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,444},{146,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{150,52}</string>
            </dict>
            <key>gun_my_pos_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,553},{150,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,38}}</string>
                <key>sourceSize</key>
                <string>{150,38}</string>
            </dict>
            <key>money_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,640},{38,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{38,28}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,149},{48,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{48,42}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1},{68,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,584},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,71},{68,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,628},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,662},{54,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{54,26}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,586},{58,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{58,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,606},{54,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{54,28}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,630},{54,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{54,42}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,654},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{54,28}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,674},{54,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{54,42}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,521},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{54,28}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,670},{54,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{54,42}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,211},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{54,28}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,665},{54,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{54,42}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,656},{54,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{54,28}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,656},{54,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{54,42}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,680},{68,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{68,28}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,586},{68,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{68,42}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,141},{68,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,630},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,682},{68,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,638},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,690},{68,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>money_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,630},{68,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,50}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>tool_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{150,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,550}}</string>
                <key>sourceSize</key>
                <string>{150,550}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasUnknowItems.png</string>
            <key>size</key>
            <string>{788,717}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6146f55da8e877e1954c6d4322e6beb7:b2cdd59e0e905966f25e4458728fe79f:51143d6d9cd486cc01ca67a27c6d71e6$</string>
            <key>textureFileName</key>
            <string>AtlasUnknowItems.png</string>
        </dict>
    </dict>
</plist>
