<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IMG_BTN_CUAHANG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,102}}</string>
                <key>sourceSize</key>
                <string>{101,102}</string>
            </dict>
            <key>IMG_BTN_DOITHUOHNG_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{137,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,90}}</string>
                <key>sourceSize</key>
                <string>{137,90}</string>
            </dict>
            <key>IMG_BTN_FANPAGE_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{101,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,112}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>IMG_BTN_NAPXU_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,106},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasBtnHiden.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd0ffc63110bbbda22f74e10e2c92e70:6d76cf2a5e68cc97b62d7dfa99322e19:ae396d2bcfdebfacd89d5a47207dfb6b$</string>
            <key>textureFileName</key>
            <string>AtlasBtnHiden.png</string>
        </dict>
    </dict>
</plist>
