<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BackgroundAvatarGunCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,357},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>IMG_ACTION_BG_DISABLE.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,754},{85,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{85,85}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>IMG_ACTION_BG_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,750},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>IMG_ACTION_LINE.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,659},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>IMG_ARROW_HERE.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,281},{74,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,81}}</string>
                <key>sourceSize</key>
                <string>{74,83}</string>
            </dict>
            <key>IMG_BTN_ADD_FRIEND.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,427},{67,67}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{67,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>IMG_BTN_CHAT.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,786},{51,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{51,43}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>IMG_BTN_GIFT.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,754},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>IMG_BTN_INFO.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,783},{33,51}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{33,51}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>IMG_CIRCLE_LINE_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1},{213,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,118}}</string>
                <key>sourceSize</key>
                <string>{213,118}</string>
            </dict>
            <key>IMG_FIRE_EFFECT.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,771},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>IMG_GUN_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,165},{89,114}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,57},{89,114}}</string>
                <key>sourceSize</key>
                <string>{227,280}</string>
            </dict>
            <key>IMG_GUN_0_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,509},{127,152}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,36},{127,152}}</string>
                <key>sourceSize</key>
                <string>{227,280}</string>
            </dict>
            <key>IMG_GUN_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,344},{157,134}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,48},{157,134}}</string>
                <key>sourceSize</key>
                <string>{227,280}</string>
            </dict>
            <key>IMG_GUN_1_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1},{185,162}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,34},{185,162}}</string>
                <key>sourceSize</key>
                <string>{227,280}</string>
            </dict>
            <key>IMG_GUN_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,509},{127,148}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,42},{127,148}}</string>
                <key>sourceSize</key>
                <string>{227,280}</string>
            </dict>
            <key>IMG_GUN_2_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,177},{157,178}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,27},{157,178}}</string>
                <key>sourceSize</key>
                <string>{227,280}</string>
            </dict>
            <key>IMG_GUN_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,619},{137,150}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,46},{137,150}}</string>
                <key>sourceSize</key>
                <string>{227,280}</string>
            </dict>
            <key>IMG_GUN_3_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,513},{165,184}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{165,184}}</string>
                <key>sourceSize</key>
                <string>{227,280}</string>
            </dict>
            <key>IMG_GUN_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,480},{137,156}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,41},{137,156}}</string>
                <key>sourceSize</key>
                <string>{227,280}</string>
            </dict>
            <key>IMG_GUN_4_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,177},{165,184}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,27},{165,184}}</string>
                <key>sourceSize</key>
                <string>{227,280}</string>
            </dict>
            <key>IMG_GUN_BOME.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,359},{201,152}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{201,152}}</string>
                <key>sourceSize</key>
                <string>{227,280}</string>
            </dict>
            <key>IMG_GUN_BOME_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,175},{227,182}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{227,182}}</string>
                <key>sourceSize</key>
                <string>{227,280}</string>
            </dict>
            <key>IMG_GUN_ELECTRIC.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,357},{157,150}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,22},{157,150}}</string>
                <key>sourceSize</key>
                <string>{227,280}</string>
            </dict>
            <key>IMG_GUN_ELECTRIC_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,359},{185,178}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{185,178}}</string>
                <key>sourceSize</key>
                <string>{227,280}</string>
            </dict>
            <key>IMG_GUN_LAZER.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,638},{143,152}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,19},{143,152}}</string>
                <key>sourceSize</key>
                <string>{227,280}</string>
            </dict>
            <key>IMG_GUN_LAZER_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,175},{171,182}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{171,182}}</string>
                <key>sourceSize</key>
                <string>{227,280}</string>
            </dict>
            <key>IMG_PLAYERINFO_CONTAINER.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,539},{209,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,94}}</string>
                <key>sourceSize</key>
                <string>{209,94}</string>
            </dict>
            <key>IMG_PLAYERINFO_CONTAINER_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,539},{245,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,112}}</string>
                <key>sourceSize</key>
                <string>{245,112}</string>
            </dict>
            <key>IMG_SEAT.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,659},{91,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,43}}</string>
                <key>sourceSize</key>
                <string>{91,43}</string>
            </dict>
            <key>IMG_SKILL_NORMAL_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,786},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>IMG_SKILL_NORMAL_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,783},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>IMG_SKILL_NORMAL_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,783},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>IMG_SKILL_NORMAL_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,771},{71,72}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{71,72}}</string>
                <key>sourceSize</key>
                <string>{77,74}</string>
            </dict>
            <key>IMG_TEXT_PLAYER_HERE.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,357},{150,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,38}}</string>
                <key>sourceSize</key>
                <string>{150,38}</string>
            </dict>
            <key>LevelBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,121},{192,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,54}}</string>
                <key>sourceSize</key>
                <string>{192,54}</string>
            </dict>
            <key>MoneyBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,699},{192,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,54}}</string>
                <key>sourceSize</key>
                <string>{192,54}</string>
            </dict>
            <key>Trident_Glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{432,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,89}}</string>
                <key>sourceSize</key>
                <string>{432,89}</string>
            </dict>
            <key>Trident_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,92},{422,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{422,81}}</string>
                <key>sourceSize</key>
                <string>{432,89}</string>
            </dict>
            <key>UserNameBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,755},{192,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,54}}</string>
                <key>sourceSize</key>
                <string>{192,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasGuns.png</string>
            <key>size</key>
            <string>{844,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3488d7a28abbf07064cfc00175201f48:0b886b9637230b2525f24bb09e50c584:1c556f6807b54c405c6e9f22750a5441$</string>
            <key>textureFileName</key>
            <string>AtlasGuns.png</string>
        </dict>
    </dict>
</plist>
