<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LoadingBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{677,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,54}}</string>
                <key>sourceSize</key>
                <string>{677,54}</string>
            </dict>
            <key>LoadingBarBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{717,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,78}}</string>
                <key>sourceSize</key>
                <string>{717,78}</string>
            </dict>
            <key>ParticleLoading.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,82},{22,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,48}}</string>
                <key>sourceSize</key>
                <string>{22,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasLoading.png</string>
            <key>size</key>
            <string>{721,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d55b61b96809e3c806341933304b5c1c:c212b362d8b55d8ef4183aac5dd7a76f:5d88a226d73c82ca2d33510c21d465d7$</string>
            <key>textureFileName</key>
            <string>AtlasLoading.png</string>
        </dict>
    </dict>
</plist>
