<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButtonCancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,511},{88,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,101}}</string>
                <key>sourceSize</key>
                <string>{88,101}</string>
            </dict>
            <key>ButtonLogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,306},{203,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,75}}</string>
                <key>sourceSize</key>
                <string>{203,75}</string>
            </dict>
            <key>ButtonRefesh.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,614},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>ButtonRegister.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1},{201,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,73}}</string>
                <key>sourceSize</key>
                <string>{201,73}</string>
            </dict>
            <key>FogotPasswordText.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,614},{209,35}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{209,35}}</string>
                <key>sourceSize</key>
                <string>{253,73}</string>
            </dict>
            <key>ImgBubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,825},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>Popupbackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{739,688}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{739,688}}</string>
                <key>sourceSize</key>
                <string>{739,688}</string>
            </dict>
            <key>TexBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,204},{196,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,52}}</string>
                <key>sourceSize</key>
                <string>{196,52}</string>
            </dict>
            <key>TitleLogin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,691},{410,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,199}}</string>
                <key>sourceSize</key>
                <string>{410,199}</string>
            </dict>
            <key>TitleRegister.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,691},{410,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,199}}</string>
                <key>sourceSize</key>
                <string>{410,199}</string>
            </dict>
            <key>TxtBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1},{303,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,60}}</string>
                <key>sourceSize</key>
                <string>{303,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasPopupRegitLogin.png</string>
            <key>size</key>
            <string>{878,891}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:489b1e7e77aa09b0ce222c80312d9da1:88907f60837dbace546377157c7298f8:212ff008b057ead3278ed227c6552cf6$</string>
            <key>textureFileName</key>
            <string>AtlasPopupRegitLogin.png</string>
        </dict>
    </dict>
</plist>
